body {
  margin: 0;
  min-height: 100%;
  background-color:#e6e6e6;
}

.motherDiv {
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerClass{
    background-color: #fffdf4 !important;
    margin: 0px 0px 24px 0px;
    
}

.navbar-brand{
    color: #616161 !important;

}
.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-footer {
  padding: 12px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.card {
    border-radius: 16px;
  display: flex;
  justify-content: center;

  max-height: 90%;
}

.card-body {
    padding: 16px 16px;
   border-radius: 8px;
}

.mainContainerImgDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 24px 0px 0px 0px;
}

.mainContainerImgDiv img {
  height: 80%;
  width: 80%;
  border-radius: 8px;
}

.card-title {
  margin: 0px 0px 24px 0px;
}

.progress {
  width: 80%;
  margin: 16px 0px 0px 0px;
}

.animate1 {
  animation-name: animation1;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;

  opacity: 1;
}

@keyframes animation1 {
  0% {
    opacity: 0;

    scale: 0.4;
  }

  50% {
    opacity: 0.5;
    scale: 1.01;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.animate1 {
  animation-name: animation1;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;

  opacity: 1;
}

@keyframes animation1 {
  0% {
    opacity: 0;

    scale: 0.4;
  }

  50% {
    opacity: 0.5;
    scale: 1.01;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

#mainIMGId {
  max-width: 80%;
}

.endOfQuizButtonDivClass {
  display: flex;
  justify-content: flex-end;
}
